/* ------------------ CSS Footer ------------------ */

.footer {
    background-color: #2E2C2C;
    padding: 70px 0;
    line-height: 1.5;
}

ul {
    list-style: none;
}

.inline {
    display: inline-flex;
}

.inline li {
    padding-left: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-column {
    width: 25%;
    padding: 0 15px;
}

.footer-column h4 {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-column h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #c2ae95;
    filter: drop-shadow(0 0 2px #c2ae95 ) drop-shadow(0 0 5px #c2ae95 ) drop-shadow(0 0 15px #c2ae95 );
    width: 50px;
    height: 2px;
    box-sizing: border-box;
}

.footer-column ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-column ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-column ul li a:hover {
    color: #c2ae95;
    filter: drop-shadow(0 0 2px #c2ae95 ) drop-shadow(0 0 5px #c2ae95 ) drop-shadow(0 0 15px #c2ae95 );
    padding-left: 10px;
}

/* - Responsive Footer - */
@media(max-width: 767px) {
    .footer-column {
        width: 50%;
        margin-bottom: 30px
    }
}

@media(max-width: 574px) {
    .footer-column {
        width: 100%;
    }
}
